<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
		'examples',
		'src',
		'tests',
	])
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
    ])
    ->setFinder($finder)
;
