<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="tests/bootstrap.php" cacheResult="false" colors="true">
    <testsuites>
        <testsuite name="Whoops Tests Suite">
            <directory>tests/Whoops/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Whoops/</directory>
            <exclude>
                <directory>./docs</directory>
                <directory>./examples</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
